@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);

body{
  background: #d8abb1;
  width: 100%;
  height: 100%;  
}

.card {
  position: relative;
  width: 350px;
  height: 450px;
  border: 10px solid $border-color;
  margin: 10px auto 0 auto;
  background-color: white;
  cursor: pointer;
  transform-style: preserve-3d;
	transform: perspective(2500px);
  transition: 1s;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.2);
}

.card:hover {
	transform: perspective(2500px) rotate(5deg);
	box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}

.card:hover .front {
  transform: rotateY(-150deg); 
}

.card:hover .happy {
  visibility:hidden; 
}

.card:hover .open {
  visibility:hidden; 
}

.card .front {
  position: relative;
  background-color: #fff;
  width: 100%;
  height:100%;
  overflow: hidden;
  transform-origin: left;
  transition: .6s;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.2);
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin:30px; 
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: .1s;
}
.open {
  font-family: Nobile, san-serif;
  text-align: center;
  margin:30px; 
}

.balloon{
  position: absolute;
}

.balloon1 , .balloon2, .balloon3, .balloon4{
  position: absolute;
  width: 95px;
  height:105px;
  border-radius:50%;
}

.balloon1{
  background-color: rgb(239, 71, 111, 0.7);
  left:-1px;
  top:30px;
}

.balloon2{
  background-color: rgb(6, 214, 160, 0.7);
  left: 80px;
  top: 50px;
}

.balloon3{
  background-color: rgb(255, 209, 102, 0.7);
  left:170px;
  top:30px;
}

.balloon4{
  background-color: rgb(17, 138, 178, 0.7);
  left: 250px;
  top: 50px;
}

.balloon1:before, .balloon2:before, .balloon3:before, .balloon4:before {
  content:" ";
  position: absolute;
  width:1px;
  height: 170px;
  background-color: black;
  top:95px;
  left:45px;
}

.balloon1:after, .balloon2:after, .balloon3:after, .balloon4:after {
  content:"";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top:94px;
  left:37px;
}

.balloonOne:after {
  border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 10px solid #118ab2;
}

.inside {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height:100%;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

p {
  font-family: 'Times New Roman', cursive;
  margin: 40px;
  color: #0d0d0d;
  font-size: 1.5em;
  line-height: 1.2;
}

.name {
  position: absolute;
  left:170px;
  top:320px;
  color: #0d0d0d;
  font-size: 50px;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #0d0d0d;
  text-align: center;
  margin:30px; 
  outline-color:#0d0d0d;
  outline-style: dashed;
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
.first-layer,
.second-layer {
  height: 60px;
  width: 150px;
  background-repeat: repeat;
  background-size: 50px 120px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 40px,
      #fedbab 25px,
      #fedbab 25px,
      transparent 100px
    ),
    radial-gradient(circle at 20px 2px, #6b350b 30px, #fcbf29 31px);
  border-radius: 15px 15px 0 0;
  position: relative;
  margin: auto;
}

.second-layer {
  transform: scale(0.9);
  top: 10px;
}
.first-layer {
  transform: scale(0.75);
  top: 25px;
}

.candle {
  height: 30px;
  width: 10px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 87px;
}
.candle:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 26px;
  transform: rotate(45deg);
  left: -1px;
}